a:link {
  text-decoration: none;
  color: red;
}
a:visited {
  color: rgb(115, 255, 0);
}

a:hover {
  color: black;
}

a:focus {
  text-decoration: underline black;
  color: pink;
}

a:active {
  font-size: 32px;
}
